<% provide(:title, t("about.title", locate: :en)) %>
<h1><%= t "about.title" %></h1>
<p>
  The <%= link_to t("ror"), "https://www.railstutorial.org/" %>
  <%= t "about.content_2" %>
  <%= link_to t("about.content_3"), "https://www.learnenough.com/" %>
  <%= t "about.content_4" %>
  <%= link_to t("about.content_5"),"https://www.railstutorial.org/book" %>
  <%= t"about.and" %>
  <%= link_to t("about.content_6"),"https://screencasts.railstutorial.org/" %>
  <%= t "about.content_7" %>
  <%= link_to t("about.ror"), "https://rubyonrails.org/" %>
  <%= t "about.content_8" %>
</p>
